
nav {
    display: flex;
    justify-content: center; /* Center links horizontally */
  }
  
  nav ul {
    margin: 0;
    padding: 20px 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block; /* Display list items inline */
    margin-right: 20px; /* Add spacing between links */
    margin-bottom: 10px;
  }
  
  body {
      font-family: cursive;
      font-weight: bolder;
      font-size: large;
      margin: 0px;
      padding: 0;
      background-image: url(../IMAGES/oldschool.jpg);
      background-size: cover;
      background-attachment: fixed; /* Keep background image fixed */
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-image: url("../IMAGES/4.jpg"), url("../IMAGES/cheshire-grin.jpg"),url("../IMAGES/2.jpg"),url("../IMAGES/5.jpg"),url("../IMAGES/6.jpg");
      background-repeat: no-repeat; /* Prevent image tiling */
      background-size: cover; /* Ensure image covers the entire container */
      background-position: center; /* Center the image horizontally and vertically */
      }
    
    header {
      padding:50px;
      text-align: center;
      color: #fff; /* White color for text */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
      position: relative; /* Ensure the header remains on top of other content */
      z-index: 1; /* Ensure the header is above other content */
    }
    
  .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      padding: 20px;
      width: 80%;
    }
    
    .logo {
      width: 300px; /* Adjust width as needed */
      height: 150px; /* Maintain image aspect ratio */
      margin-right: 2px; /* Add spacing between logo and text */
      border-radius: 10px; /* Add rounded corners */
    }
    
  h1 {
      font-size: 3em;
      margin-bottom: 10px;
      color: #ffeaca; /* Light orange */
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add text shadow */
    }
    
  h2 {
      font-size: 1.5em;
      color: #999;
    }
    
  main {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1; /* Occupy remaining vertical space */
    }
    #gameArea {
      position: relative;
      height: 1200px;
      width: 1000px;
      background-color: rgba(128, 0, 32, 0.7);
      border: 10px solid black;
  }
  
  #cheshireCat {
      position: absolute;
      max-width: 400px;
      display: hidden;  /* Cat image is initially hidden */
  }
  #message {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: medium;
      color: #070000;
  }
  .gameLink {
    display: block;
    color: purple;
    text-decoration: none;
    box-shadow: 0 0 20px #FFC0CB;
} 

    .glow-text {
      
      text-align: center;
      font-size: 1.2em;
      font-weight: bold; /* Make the text bold */
    }
  
  .image-container {
      position: relative; /* Enable positioning for the text overlay */
    }
    
  .text-overlay {
      position: absolute; /* Position the text on top of the image */
      top: 50%; /* Center the text vertically */
      left: 50%; /* Center the text horizontally */
      transform: translate(-50%, -50%); /* Adjust positioning as needed */
      color: white; /* Assuming white text for contrast */
      text-align: center; /* Center text alignment */
      padding: 20px; /* Add padding around the text */
      width: 80%; /* Adjust width as needed */
    }
    
  .dark-blue-bold {
      font-weight: bold;
      color: #001f3f; /* Darker blue */
    }
    
  p {
      line-height: 1.5;
      margin-bottom: 10px;
      color: white;
      font-weight: bolder;
    }
    
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
  .bubble-list { /* New section for bubble list styles */
      margin: 20px auto; /* Add margin for centering */
    }
    
  .bubble-list li {
      display: inline-block; /* Display list items side-by-side */
      margin: 10px; /* Add spacing between items */
      padding: 15px 15px; /* Adjust padding for rectangle shape */
      background-color: #461C89; /* Set a light background color */
      box-shadow: 0 2px 10px rgba(144, 134, 137, 0.079); /* Add subtle shadow */
      transition: all 0.5s ease-in-out; /* Smooth transition on hover */
      border-radius: 10px; /* Add rounded corners */
    }
  
    
  .bubble-list li:hover {
      background-color: #1C8988; /* Change background color on hover */
    }
    
  a {
      background-color: #D57ACE;
      color: #070000; /* Dark gray */
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: linear-gradient(#070000);
      margin-top: 20px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add button shadow */
    }
    
  a:hover {
      background-color: #f5f5f5; /* Lighten on hover */
    }
    
  footer {
    padding: 10px;
    text-align: center;
    color: #fff; /* White color for text */
    background-color: rgba(0, 153, 204, 0.7); /* Semi-transparent blue */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    margin-top: auto; /* Push footer to bottom */
    }
    
  
    
    