/*=================================================
Global
=================================================*/
body {
  font-family: cursive;
  font-weight: bold;
  font-size: large;
  margin: 0px;
  padding: 0;
  background-image: url(../IMAGES/oldschool.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../IMAGES/4.jpg"), url("../IMAGES/cheshire-grin.jpg"),url("../IMAGES/2.jpg"),url("../IMAGES/5.jpg"),url("../IMAGES/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*=================================================
Navigation Bar
=================================================*/
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  background-color:#D57ACE;
  color:#070000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

nav a:hover {
  background-color: #f5f5f5;
}

/*=================================================
Header
=================================================*/
header {
  padding: 50px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.logo {
  width: 300px;
  height: 150px;
  margin-right: 2px;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #ffeaca;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.5em;
  color: #999;
}

/*=================================================
Main Content
=================================================*/
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.mainContainer {
  position:relative;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.transparentBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  padding: 50px;
  text-align: center;
  width: 50%;
  height: 110vh;
  overflow-y: auto;
}

.transparentBox p {
  color: white;
  font-weight: bold;
}

.transparentBox img {
  width: 50%;
  height: auto;
}

.glow-text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.glow-text-container {
  border: 7px solid #E7B280;
  background-color:rgba(231, 178, 128, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(239, 228, 228, 0.5);
  display: inline-block;
}

.funky-box {
  background-color: #0099cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.bubble-list {
  margin: 20px auto;
}

.bubble-list li {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background-color: #461C89;
  box-shadow: 0 2px 10px rgba(144, 134, 137, 0.079);
  transition: all 0.5s;
  border-radius: 10px;
}

.bubble-list li:hover {
  background-color: #1C8988;
}

/*=================================================
Popup Quiz
=================================================*/
#quizPopup.popup-visible {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  padding: 20px;
}

/* Add this to your existing CSS file */

/* Styling for the quiz pop-up */
#quizPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: pink;  /* Quiz pop-up background color */
  padding: 20px;
  z-index: 100;
  display: none; /* The pop-up is hidden initially */
  border-radius: 10px;
  width: 50%; /* Adjust the width as needed */
}

/* Styling for the 'Start Quiz' button */
.start-quiz-btn {
  background-color: pink;
  color: white; /* Text color, adjust accordingly */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#quizPopup.popup-hidden {
  display: none;
}

.correct {
  background-color: #90EE90;
}

.incorrect {
  background-color: #FF4500;
}

button {
  margin-top: 10px;
}

#quizButton {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 10px;
  z-index: 1;
}

.scrollable {
  height: 70vh;  /* Adjust this value as per your needs */
  overflow-y: auto;
  padding-right: 15px;
}

/*=================================================
Footer
=================================================*/
footer {
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 153, 204, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: auto;
}